# IDE
.idea/
.vscode/
.condarc
# cache
.cache
# standard dbt ignore
target/
dbt_modules/
dbt_packages/
logs/
/.user.yml
package-lock.yml
# ignore any __pycache__ directories
__pycache__/
# reports
reports/
# ci
keyfile.json
tmp_html_content.html
# custom
test_scripts/
