# IDE
.idea/
.vscode/
# cache
.cache
# standard dbt ignore
target/
dbt_modules/
dbt_packages/
logs/
/.user.yml
# ignore any __pycache__ directories
__pycache__/
# ignore temporary documentation parser files
documentation_parser/tmp_html_content.html
documentation_parser/output/
# reports
reports/
# ci
keyfile.json
