.idea/
# standard dbt ignore
target/
dbt_modules/
dbt_packages/
logs/
/.user.yml
documenation_parser/html_content.html
# ignore any __pycache__ directories
__pycache__/
documentation_parser/tmp_html_content.html
